# style guide (https://florianschanda.github.io/miss_hit/style_checker.html)
line_length: 150
tab_width: 2
regex_function_name: "[a-zA-Z]+(([a-zA-Z]){1}[a-zA-z]+)*"
copyright_entity: "Rémi Gau"

suppress_rule: "copyright_notice"
exclude_dir: "lib"

# metrics limit for the code quality (https://florianschanda.github.io/miss_hit/metrics.html)
metric "cnest": limit 4
metric "file_length": limit 500
metric "cyc": limit 15
metric "parameters": limit 6